.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .filter-buttons {
    flex-direction: column;
  }

  .filter-buttons button {
    margin: 5px 0;
    width: 100%;
  }
}